$font: 'Mulish', sans-serif;
$font-secondary: 'Montserrat', sans-serif;


$color-primary: #9F07FF;
$color-primary-dark: #8639B5 ;
$color-gray: #E7EAEB;
$color-gray-dark: #F4F9FA;
$color-primary-transparent: rgba(76, 0, 112, 0.19);
$color-text-primary:#001A49;
$color-text-secondary:#4F596A;
$color-grad-primary: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
$color-grad-secondary: linear-gradient(35.71deg, #FFD7A9 9.11%, #FFAE70 71.64%);
$color-white: #ffffff;
$color-black: #000000;

$color-body: #1e1e1e;

$transition: 0.2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
